altair==5.5.0
annotated-types==0.7.0
attrs==25.1.0
bcrypt==4.2.1
blinker==1.9.0
blis==1.2.0
cachetools==5.5.2
catalogue==2.0.10
certifi
charset-normalizer
click==8.1.8
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
cymem==2.0.11
et_xmlfile==2.0.0
filelock
fsspec
gitdb
GitPython
huggingface-hub
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
langcodes
language_data
lxml
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
murmurhash
narwhals
networkx
nltk
numpy>=1.23
openpyxl
packaging
pandas
pillow
preshed
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
PyMuPDF
python-dateutil
python-docx
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
shellingham
six
smart-open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
streamlit
streamlit-pdf-viewer
sympy
tenacity
thinc
threadpoolctl
tokenizers
toml
torch>=2.0
tornado
tqdm
transformers>=4.30
typer
typing_extensions
tzdata
urllib3
wasabi
watchdog
weasel
wrapt
